FliplloCliente/LogicaDeNegocios/Connected Services/ServiciosDeFlipllo/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoDeVerificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="tns:EstadoUsuario" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NombreDeUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntuacion" nillable="true" type="tns:Puntuacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:simpleType name="EstadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoValidado" />
      <xs:enumeration value="Registrado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoUsuario" nillable="true" type="tns:EstadoUsuario" />
  <xs:complexType name="Puntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExperienciaTotal" type="xs:double" />
      <xs:element minOccurs="0" name="PartidasJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="Victorias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Puntuacion" nillable="true" type="tns:Puntuacion" />
</xs:schema>