FliplloCliente/LogicaDeNegocios/Connected Services/ServiciosDeFlipllo/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" />
  <xs:complexType name="Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="UltimaActualizacion" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" minOccurs="0" name="Usuario" nillable="true" type="q1:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sesion" nillable="true" type="tns:Sesion" />
  <xs:complexType name="Mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuerpoDeMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDDeUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mensaje" nillable="true" type="tns:Mensaje" />
  <xs:complexType name="ArrayOfSesion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sesion" nillable="true" type="tns:Sesion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSesion" nillable="true" type="tns:ArrayOfSesion" />
</xs:schema>