FliplloCliente/LogicaDeNegocios/Connected Services/ServiciosDeFlipllo/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" />
  <xs:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" />
  <xs:element name="AutenticarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" minOccurs="0" name="usuario" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoDeUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" minOccurs="0" name="usuario" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCodigoDeUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCodigoDeUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" minOccurs="0" name="sesion" nillable="true" type="q4:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarDelChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" minOccurs="0" name="usuario" nillable="true" type="q5:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesconectarDelChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDDeUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" minOccurs="0" name="mensaje" nillable="true" type="q6:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarListaDeUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" minOccurs="0" name="usuariosConectados" nillable="true" type="q7:ArrayOfSesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" minOccurs="0" name="mensaje" nillable="true" type="q8:Mensaje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarIDUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" minOccurs="0" name="sesion" nillable="true" type="q9:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedirActualizarSesion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>