FliplloCliente/LogicaDeNegocios/Connected Services/ServiciosDeFlipllo/ServiciosDeFlipllo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosDeFlipllo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiciosDeFlipllo_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" />
      <xsd:import schemaLocation="http://192.168.50.96:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.InterfacesDeServicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosDeFlipllo_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_RegistrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_RegistrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_ValidarCodigoDeUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigoDeUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_ValidarCodigoDeUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigoDeUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_ActualizarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarSesion" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_ConectarDelChat_InputMessage">
    <wsdl:part name="parameters" element="tns:ConectarDelChat" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_DesconectarDelChat_InputMessage">
    <wsdl:part name="parameters" element="tns:DesconectarDelChat" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_ActualizarListaDeUsuarios_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarListaDeUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_RecibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_EnviarIDUsuario_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EnviarIDUsuario" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_RecibirSesion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirSesion" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeFlipllo_PedirActualizarSesion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PedirActualizarSesion" />
  </wsdl:message>
  <wsdl:portType name="IServiciosDeFlipllo">
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/AutenticarUsuario" message="tns:IServiciosDeFlipllo_AutenticarUsuario_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/RegistrarUsuario" message="tns:IServiciosDeFlipllo_RegistrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/RegistrarUsuarioResponse" message="tns:IServiciosDeFlipllo_RegistrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigoDeUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/ValidarCodigoDeUsuario" message="tns:IServiciosDeFlipllo_ValidarCodigoDeUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/ValidarCodigoDeUsuarioResponse" message="tns:IServiciosDeFlipllo_ValidarCodigoDeUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/ActualizarSesion" message="tns:IServiciosDeFlipllo_ActualizarSesion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConectarDelChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/ConectarDelChat" message="tns:IServiciosDeFlipllo_ConectarDelChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesconectarDelChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/DesconectarDelChat" message="tns:IServiciosDeFlipllo_DesconectarDelChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/EnviarMensaje" message="tns:IServiciosDeFlipllo_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarListaDeUsuarios">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/ActualizarListaDeUsuarios" message="tns:IServiciosDeFlipllo_ActualizarListaDeUsuarios_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/RecibirMensaje" message="tns:IServiciosDeFlipllo_RecibirMensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarIDUsuario">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/EnviarIDUsuario" message="tns:IServiciosDeFlipllo_EnviarIDUsuario_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirSesion">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/RecibirSesion" message="tns:IServiciosDeFlipllo_RecibirSesion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedirActualizarSesion">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeFlipllo/PedirActualizarSesion" message="tns:IServiciosDeFlipllo_PedirActualizarSesion_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiciosDeFlipllo" type="tns:IServiciosDeFlipllo">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiciosDeFlipllo_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AutenticarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigoDeUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/ValidarCodigoDeUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/ActualizarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConectarDelChat">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/ConectarDelChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DesconectarDelChat">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/DesconectarDelChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ActualizarListaDeUsuarios">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/ActualizarListaDeUsuarios" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/RecibirMensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarIDUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/EnviarIDUsuario" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirSesion">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/RecibirSesion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedirActualizarSesion">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeFlipllo/PedirActualizarSesion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosDeFlipllo">
    <wsdl:port name="NetTcpBinding_IServiciosDeFlipllo" binding="tns:NetTcpBinding_IServiciosDeFlipllo">
      <soap12:address location="net.tcp://192.168.50.96:8091/ServiciosDeComunicacion" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.50.96:8091/ServiciosDeComunicacion</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>