FliplloCliente/LogicaDeNegocios/Connected Services/ServiciosDeJuego/ServiciosDeJuego.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosDeJuego" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiciosDeJuego_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.10:8081/ServiciosDeJuego?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.10:8081/ServiciosDeJuego?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.10:8081/ServiciosDeJuego?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.Interfaces.InterfacesDeServiciosDeFlipllo" />
      <xsd:import schemaLocation="http://192.168.100.10:8081/ServiciosDeJuego?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" />
      <xsd:import schemaLocation="http://192.168.100.10:8081/ServiciosDeJuego?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
      <xsd:import schemaLocation="http://192.168.100.10:8081/ServiciosDeJuego?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosDeJuego_TirarFicha_InputMessage">
    <wsdl:part name="parameters" element="tns:TirarFicha" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeJuego_TirarFicha_OutputMessage">
    <wsdl:part name="parameters" element="tns:TirarFichaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeJuego_PedirActualizacionDeTablero_InputMessage">
    <wsdl:part name="parameters" element="tns:PedirActualizacionDeTablero" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeJuego_ActualizarCanalDeCallback_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarCanalDeCallback" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeJuego_RecibirTablero_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirTablero" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeJuego_TerminarJuego_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TerminarJuego" />
  </wsdl:message>
  <wsdl:message name="IServiciosDeJuego_RecibirTirada_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirTirada" />
  </wsdl:message>
  <wsdl:portType name="IServiciosDeJuego">
    <wsdl:operation name="TirarFicha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeJuego/TirarFicha" message="tns:IServiciosDeJuego_TirarFicha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeJuego/TirarFichaResponse" message="tns:IServiciosDeJuego_TirarFicha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedirActualizacionDeTablero">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeJuego/PedirActualizacionDeTablero" message="tns:IServiciosDeJuego_PedirActualizacionDeTablero_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarCanalDeCallback">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosDeJuego/ActualizarCanalDeCallback" message="tns:IServiciosDeJuego_ActualizarCanalDeCallback_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirTablero">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeJuego/RecibirTablero" message="tns:IServiciosDeJuego_RecibirTablero_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="TerminarJuego">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeJuego/TerminarJuego" message="tns:IServiciosDeJuego_TerminarJuego_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirTirada">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosDeJuego/RecibirTirada" message="tns:IServiciosDeJuego_RecibirTirada_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiciosDeJuego" type="tns:IServiciosDeJuego">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiciosDeJuego_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TirarFicha">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeJuego/TirarFicha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedirActualizacionDeTablero">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeJuego/PedirActualizacionDeTablero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ActualizarCanalDeCallback">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeJuego/ActualizarCanalDeCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirTablero">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeJuego/RecibirTablero" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminarJuego">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeJuego/TerminarJuego" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirTirada">
      <soap12:operation soapAction="http://tempuri.org/IServiciosDeJuego/RecibirTirada" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosDeJuego">
    <wsdl:port name="NetTcpBinding_IServiciosDeJuego" binding="tns:NetTcpBinding_IServiciosDeJuego">
      <soap12:address location="net.tcp://192.168.100.10:8091/ServiciosDeJuego/ServiciosDeComunicacion.ServiciosDeJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.100.10:8091/ServiciosDeJuego/ServiciosDeComunicacion.ServiciosDeJuego</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>