FliplloCliente/LogicaDeNegocios/Connected Services/ServiciosDeJuego/ServiciosDeJuego4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.Interfaces.InterfacesDeServiciosDeFlipllo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiciosDeComunicacion.Interfaces.InterfacesDeServiciosDeFlipllo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.50.96:8081/ServiciosDeJuego?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" />
  <xs:complexType name="Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaActualizacion" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogicaDeNegocios.ClasesDeDominio" minOccurs="0" name="Usuario" nillable="true" type="q1:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sesion" nillable="true" type="tns:Sesion" />
</xs:schema>